# Ignorar a pasta node_modules
node_modules/

# Ignorar pastas e arquivos de Docker
docker/
.docker/
docker-compose.override.yml

# Ignorar logs e arquivos temporários
*.log
*.tmp

# Ignorar diretórios específicos de IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

# Ignorar arquivos de sistema operacional
.DS_Store
Thumbs.db